.nav-ul li{
  display: inline-block;
  padding: 10px;
}

.nav-ul li a{
  color: #fff;
  text-decoration: none;
  padding: 5px;
}

.nav-ul{
  padding: 5px;
  margin: 0%;
  background-color: skyblue;
}

.footer{
  position: absolute;
  bottom: 0%;
  text-align: center;
  width: 100%;
  background-color: skyblue;
}

.inputBox{
  display: block;
  margin: 25px;
  padding: 7px;
  width: 300px;
  border: 1px solid skyblue;
}
.signupForm,.loginForm,.product{
  margin: auto;
  width: 50%;
  padding: 10px;
}

.logo{
  width: 45px;
  float: left;
  border-radius: 50%;
  margin-top: 3px;
  margin-left: 20px;
}

.appbutton{
  margin: 25px;
  padding: 10px;
  width: 150px;
  background-color: skyblue;
  border: 1px solid;
  cursor: pointer;
}

.nav-right{
  text-align: right;
}

.invalid-input{
  color: red;
  margin-top: -20px;
  display: block;
  margin-left: 20px;
}

.product-list{
  text-align: center;
  margin-top: 50px;
}

.product-list ul li{
  display: inline-block;
  border: 1px solid skyblue;
  padding: 5px;
  width: 150px;
}

.product-list ul{
  margin: 0%;
}

.search-product-box{
  width: 400px;
  margin: 20px;
  height: 40px;
  border: 1px solid skyblue;
  padding-left: 20px;
}